body {
    background-color: #f5f5f5;
    margin-bottom: 0;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

.header {
    width: 100%;
    background-color: #FFDD67;
    text-align: center;
    padding: 24px 8px 24px 8px;
    margin-left: -8px;
    margin-top: -10px;
    -webkit-user-select: none;
}

.header img {
    width: 138px;
    height: 42px;
    margin-top: -8px;
    -webkit-user-drag: none;
    cursor: default;
}

.header h2 {
    font-size: 15px;
    margin-bottom: -8px;
    cursor: default;
}

.content {
    text-align: center;
    margin-top: 10px;
    -webkit-user-select: none;
}

.content>.card {
    background-color: #fff;
    padding: 22px;
    box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 10px;
    transition: box-shadow .25s ease-out;
}

.content>.card:hover {
    box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.4);
    transition: box-shadow .25s ease-out;
    cursor: pointer;
}

.content>.card:active,
.content>.card:focus {
    cursor: pointer;
}

.content>.card>span {
    float: left;
    margin: -8px 0 0 -72px;
    font-size: 32px;
}

.content>.card h3 {
    margin: -15px 0 -32px 0;
}

.content>.card p {
    margin-bottom: -8px;
    font-size: 12px;
}

.footer {
    width: 100%;
    background-color: #00e5ff;
    text-align: center;
    padding: 24px 8px 24px 8px;
    margin: 8px 0 0 -8px;
}

.footer:hover{
    cursor: pointer
}

.footer a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
    text-decoration: none;
}

.footer span {
    color: #ff5a79;
}