doctype html
html
    head
        meta(charset='UTF-8')
        title gitmoji | An emoji guide for your commit messages
        link(rel='stylesheet', href='./app.css')
    body
        // Header
        include includes/header.pug

        // Content
        include includes/emojis.pug

        // Footer
        include includes/footer.pug

        // Scripts
        include includes/scripts.pug
