.header
    a(onclick="exit()") ✖
    img(src='gitmoji-header.svg')
    h2 An emoji guide for your commit messages
    input(type="search", placeholder="Search... (Press ⏎ to copy the first)", autofocus)