script.
    // Add search w/ JQuery & Copy first w/ enter
    window.$ = window.jQuery = require('jquery')
    $('input').on('change paste keyup', function () {
        var query = $(this).val().toLowerCase()
        if (query.length === 0) {
            $('.card').show()
        }
        else {
            $('.card').each(function() {
                if ($(this).find('p').text().toLowerCase().indexOf(query) != -1) {
                    $(this).show()
                }
                else {
                    $(this).hide()
                }
            })
        }
    })

    var electron = require('electron')
    var clipboard = electron.clipboard
    var menubar = electron.remote.getGlobal('menubar')

    if (process.platform == "win32") {
        var emoji = document.getElementById('#emoji');
        emoji.setAttribute("style", "margin-left: -75px; margin-top: -15px;");
    }

    function copyEmoji(emojiType)
    {
        clipboard.writeText(':' + emojiType + ':')
        menubar.hideWindow()
    }

    function exit()
    {
        electron.remote.app.quit()
    }