script.
    var electron = require('electron')
    var clipboard = electron.clipboard
    var menubar = electron.remote.getGlobal('menubar')

    if (process.platform == "win32") {
        var emoji = document.getElementById('#emoji');
        emoji.setAttribute("style", "margin-left: -75px; margin-top: -15px;");
    }

    function copyEmoji(emojiType)
    {
        clipboard.writeText(':' + emojiType + ':')
        menubar.hideWindow()
    }